<form class="" action="/comment" method="post">
  <label>Title</label>
  <input type="text" name="comment[title]" value="">
  <label>Author</label>
  <input type="text" name="comment[author]" value="">
  <input hidden type="text" name="comment[id]" value="<%= camp._id %>">
  <input type="submit" name="" value="Hit to Commit">

</form>
