<% include ./partials/header %>
<div class="container">
  <p class="font-weight-bold text-center">REGISTER PAGE</p>
</div>
<div class='jumbotron'>
<div class="form-inline">

  <div class="container">
    <form class="" action="/register" method="post">
      <div class='form-group row'><label class="col-sm-2 col-form-label">UserName</label>
        <div class='col-sm-10'>
      <input type="text" name="username" class="form-control-plaintext" value="">
    </div>
  </div>
  <div class='form-group row'>
      <label for="" class="col-sm-2 col-form-label">Password</label>
      <div class='col-sm-10'>
      <input type="password" name="password" class="form-control" value="">
    </div>


      <input type="submit" class="btn btn-primary mb-2" value="Submit">
  </div>
          </form>
  </div>

</div>
</div>
<br>
<div class="container">
  <div class="">
    <a href="/login">LOGIN</a>
  </div>
</div>
